
body {
    background-color: darkslategrey;
}

thead td {
    font-size: 18px;
    color: lightgray;
}

th {
    text-align: left;
    font-weight: normal;
    font-style: italic;
    color: aliceblue;
}

td {
    color: lightyellow;
}

#support {
    color: red;
}

#status {
    color: orange;
}

#name:before {
    content: ' \25CF';
    font-size: 24px;
    color: lightgreen;
}

.action {
    color: slategray;
}
