<div class="container">
    <h2 class="text-center">
        Projects
        <a href="#/project/add" ng-show="vm.identity.isAuthenticated()" class="btn btn-sm btn-primary pull-right">Create</a>
    </h2>

    <div ng-show="vm.identity.isAuthenticated()" class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="sort" class=" control-label">Sort</label></div>
                <div>
                    <select class="form-control" required="required" ng-init="vm.orderby='name'" ng-model="vm.orderby" id="sort">
                        <option value="name">Name</option>
                        <option value="totalUsers">Collaborator</option>
                        <option value="License">License</option>
                        <option value="CreatedOn">Date</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="sort" class="control-label">Order</label>
                </div>
                <div>
                    <select class="form-control" required="required" ng-init="vm.request.orderby='asc'" ng-model="vm.request.orderby" id="sort">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="from-city" class="control-label">License</label>
                </div>
                <div>
                    <select class="form-control" ng-init="vm.request.from=''" ng-model="vm.request.from" id="from-city">
                        <option value="">Select license</option>
                        <option ng-repeat="project in vm.projects" value="{{project.License}}">
                            {{project.License}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.identity.isAuthenticated()">
        <div class="col-md-3">
            <div class="col-md-6">
                <button class="btn btn-primary pull-right" ng-click="vm.filterProjects()">Filter</button>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="vm.prevPage()">&lt;&lt;</button>
            </div>
            <div class="col-md-6">
                <input type="number" ng-model="vm.request.page" class="form-control" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="vm.nextPage()">&gt;&gt;</button>
            </div>
        </div>
    </div>

    <br />

    <div ng-show="vm.projects && vm.projects.length > 0">
        <div all-projects />
    </div>
    <div ng-hide="vm.projects && vm.projects.length > 0">
        <h2 class="text-center">No results!</h2>
    </div>
</div>
