/* Reset Stylesheet */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* CLEARFIX */
.clearfix {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

/* End Reset Stylesheet */
/* LINEAR-GRADIENT */
body {
  font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
  font-size: 16px; }
  body #wrapper {
    width: 960px; }
    body #wrapper ul.menu {
      margin: 20px 10px;
      list-style: none;
      font-size: 16px; }
      body #wrapper ul.menu > li {
        background-image: -webkit-linear-gradient(top, #25DCF2 0%, #758FDA 100%);
        background-image: -moz-linear-gradient(top, #25DCF2 0%, #758FDA 100%);
        background-image: -ms-linear-gradient(top, #25DCF2 0%, #758FDA 100%);
        background-image: -o-linear-gradient(top, #25DCF2 0%, #758FDA 100%);
        background-image: linear-gradient(to bottom, #25DCF2 0%, #758FDA 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='0%', endColorstr='100%',GradientType=0 );
        background-repeat: none;
        position: relative;
        display: inline-block;
        float: left;
        margin: 5px;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 10px; }
        body #wrapper ul.menu > li div.content {
          background-image: -webkit-linear-gradient(top, #FEFFFF 0%, #A0D8EF 100%);
          background-image: -moz-linear-gradient(top, #FEFFFF 0%, #A0D8EF 100%);
          background-image: -ms-linear-gradient(top, #FEFFFF 0%, #A0D8EF 100%);
          background-image: -o-linear-gradient(top, #FEFFFF 0%, #A0D8EF 100%);
          background-image: linear-gradient(to bottom, #FEFFFF 0%, #A0D8EF 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='0%', endColorstr='100%',GradientType=0 );
          background-repeat: none;
          display: none;
          position: absolute;
          border: 1px solid black;
          border-radius: 10px;
          font-size: 16px;
          padding: 10px; }
          body #wrapper ul.menu > li div.content > h3 {
            text-decoration: underline;
            padding: 20px 10px; }
          body #wrapper ul.menu > li div.content ul {
            padding: 10px;
            list-style-type: square; }
            body #wrapper ul.menu > li div.content ul li:hover {
              text-decoration: underline; }
          body #wrapper ul.menu > li div.content p {
            padding: 0 15px 15px 10px; }
            body #wrapper ul.menu > li div.content p span.bold {
              font-weight: bold; }
      body #wrapper ul.menu > li:hover {
        display: block;
        position: relative;
        padding: 10px 45px;
        font-size: 24px; }
        body #wrapper ul.menu > li:hover a {
          font-size: 24px; }
        body #wrapper ul.menu > li:hover div.content {
          display: block;
          left: 20px;
          position: absolute; }
          body #wrapper ul.menu > li:hover div.content > h3 {
            font-size: 18px; }
          body #wrapper ul.menu > li:hover div.content ul {
            font-size: 16px; }
      body #wrapper ul.menu > li:first-of-type div.content {
        width: 270px; }
      body #wrapper ul.menu > li:nth-of-type(2) div.content {
        width: 300px; }
      body #wrapper ul.menu > li:last-of-type div.content {
        width: 200px;
        height: 110px; }

/*# sourceMappingURL=style.css.map */