/* Reset Stylesheet */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* CLEARFIX */
.clearfix {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

@mixin clearfix-full {
    zoom: 1;

    &:after {
        @extend .clearfix;
    }

    &:before {
        @extend .clearfix;
    }
}

/* End Reset Stylesheet */

/* LINEAR-GRADIENT */
@mixin linear-gradient($from-color, $to-color, $from: 0%, $to: 100%, $repeat: none) {
    background-image: -webkit-linear-gradient(top, $from-color $from, $to-color $to);
    background-image: -moz-linear-gradient(top, $from-color $from, $to-color $to);
    background-image: -ms-linear-gradient(top, $from-color $from, $to-color $to);
    background-image: -o-linear-gradient(top, $from-color $from, $to-color $to);
    background-image: linear-gradient(to bottom, $from-color $from, $to-color $to);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 );
    background-repeat: $repeat;
}



body {
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 16px;

    #wrapper {
        width: 960px;

        ul.menu {
            margin: 20px 10px;
            list-style: none;
            font-size: 16px;

            & > li {
                @include linear-gradient(#25DCF2, #758FDA, 0%, 100%);
                position: relative;
                display: inline-block;
                float: left;
                margin: 5px;
                padding: 10px 20px;
                border: 1px solid black;
                border-radius: 10px;

                div.content {
                    & > h3 {
                        text-decoration: underline;
                        padding: 20px 10px;
                    }

                    @include linear-gradient(#FEFFFF, #A0D8EF, 0%, 100%);
                    display: none;
                    position: absolute;
                    border: 1px solid black;
                    border-radius: 10px;
                    font-size: 16px;
                    padding: 10px;

                    ul {
                        padding: 10px;
                        list-style-type: square;

                        li:hover {
                            text-decoration: underline;
                        }
                    }

                    p {
                        padding: 0 15px 15px 10px;

                        span.bold {
                            font-weight: bold;
                        }
                    }
                }
            }

            & > li:hover {
                display: block;
                position: relative;
                padding: 10px 45px;
                font-size: 24px;

                a {

                    font-size: 24px;
                }

                div.content {
                    display: block;
                    left: 20px;
                    position: absolute;

                    & > h3 {
                        font-size: 18px;
                    }

                    ul {
                        font-size: 16px;
                    }
                }
            }

            & > li:first-of-type {

                div.content {
                    width: 270px;
                }
            }

            & > li:nth-of-type(2) {

                div.content {
                    width: 300px;
                }
            }

            & > li:last-of-type {
                div.content {
                    width: 200px;
                    height: 110px;
                }
            }
        }
    }
}
