body p {
    font-family: Consolas;
    color: #0094ff;
    font-size: 1.5em;
}

body p:first-letter {
     font-family: 'Edwardian Script ITC';
     font-size: 2em;
}

body p:first-line {
    font-weight: bold;
}